:root {
    --white: #FFFFFF;
    --gray: #909ca2;
    --black-70: #213944;
    --black-80: #23252B;
    --black-90: #17181A;
    --black-100: #000000;
}

/* Início Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Manjari', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    outline: 0;
}

/* Fim Reset CSS */

header {
    background-color: var(--black-90);
    padding: 0.75rem 1.125rem;
    color: var(--white);

    display: flex;
    gap: 0.625rem;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header nav.menu a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.25rem;
    line-height: 25px;
    letter-spacing: -0.02em;
    transition: color 0.1s;
}

header nav.menu a:hover {
    color: var(--gray);
}

header nav.options button {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: opacity 0.1s;
}

header nav.options button:hover {
    opacity: .6;
}

header nav.options button.profile {
    width: 4.125rem;
    height: 2.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header nav.options button.profile:after {
    content: url('../assets/arrow-dropdown.svg');
    height: 100%;
    position: absolute;
    right: 0;
}